<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/IMG_8838.PNG" class="img fluid" id="tamaniofoto">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id= "nombre"> {{persona.nombre}}  </p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div style="background-color:rgb(245, 238, 252)" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mi</h2>
            <p>Soy estudiante Fullstack Jr, actualmente busco poder mejorar mis habilidades y  poner en practica lo aprendido.</p>
        </span>
    </div>
</div>
