<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/fotoperfil.jpg" class="img fluid" id="tamaniofoto">
    </div>

    <div style="background-color:grey" class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fotoperfil">
        <p>Lorena Agustina Luján</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsum porro ea ipsam eaque provident suscipit reiciendis voluptas error assumenda! Ratione aspernatur quas consectetur sapiente modi totam illum atque doloremque.</p>
        </span>
    </div>
</div>
