<div class= "row">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="70"
            [animation]="true"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#454545'"
            [titleFontSize]="'35'"
            [titleFontWeight]="'500'"
            [showSubtitle]="true"
            [subtitle]="'alksjdf%'"
            [subtitleColor]="'#92CDE1'"
            [outerStrokeWidth]="8"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#12495C'"
            [outerStrokeColor]="'#92CDE1'"
            [showInnerStroke]="true"
            [innerStrokeWidth]="8"
            [space]="-8"
            [innerStrokeColor]="'#e3e3e3'"
            [showZeroOuterStroke]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="70"
            [animation]="true"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#454545'"
            [titleFontSize]="'35'"
            [titleFontWeight]="'500'"
            [showSubtitle]="true"
            [subtitle]="'alksjdf%'"
            [subtitleColor]="'#92CDE1'"
            [outerStrokeWidth]="8"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#12495C'"
            [outerStrokeColor]="'#92CDE1'"
            [showInnerStroke]="true"
            [innerStrokeWidth]="8"
            [space]="-8"
            [innerStrokeColor]="'#e3e3e3'"
            [showZeroOuterStroke]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="70"
            [animation]="true"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#454545'"
            [titleFontSize]="'35'"
            [titleFontWeight]="'500'"
            [showSubtitle]="true"
            [subtitle]="'alksjdf%'"
            [subtitleColor]="'#92CDE1'"
            [outerStrokeWidth]="8"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#12495C'"
            [outerStrokeColor]="'#92CDE1'"
            [showInnerStroke]="true"
            [innerStrokeWidth]="8"
            [space]="-8"
            [innerStrokeColor]="'#e3e3e3'"
            [showZeroOuterStroke]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="70"
            [animation]="true"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#454545'"
            [titleFontSize]="'35'"
            [titleFontWeight]="'500'"
            [showSubtitle]="true"
            [subtitle]="'alksjdf%'"
            [subtitleColor]="'#92CDE1'"
            [outerStrokeWidth]="8"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#12495C'"
            [outerStrokeColor]="'#92CDE1'"
            [showInnerStroke]="true"
            [innerStrokeWidth]="8"
            [space]="-8"
            [innerStrokeColor]="'#e3e3e3'"
            [showZeroOuterStroke]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="70"
            [animation]="true"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#454545'"
            [titleFontSize]="'35'"
            [titleFontWeight]="'500'"
            [showSubtitle]="true"
            [subtitle]="'alksjdf%'"
            [subtitleColor]="'#92CDE1'"
            [outerStrokeWidth]="8"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#12495C'"
            [outerStrokeColor]="'#92CDE1'"
            [showInnerStroke]="true"
            [innerStrokeWidth]="8"
            [space]="-8"
            [innerStrokeColor]="'#e3e3e3'"
            [showZeroOuterStroke]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="70"
            [animation]="true"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#454545'"
            [titleFontSize]="'35'"
            [titleFontWeight]="'500'"
            [showSubtitle]="true"
            [subtitle]="'alksjdf%'"
            [subtitleColor]="'#92CDE1'"
            [outerStrokeWidth]="8"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#12495C'"
            [outerStrokeColor]="'#92CDE1'"
            [showInnerStroke]="true"
            [innerStrokeWidth]="8"
            [space]="-8"
            [innerStrokeColor]="'#e3e3e3'"
            [showZeroOuterStroke]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

</div>    